<div class="container">
  <h1>Sign in</h1>
  <hr>
  <div class="row">
    <div class="col-sm-3">Username</div>
    <div class="col-sm-3">
      <input type="text" class="form-control">
    </div>
    <div class="col-sm-3"></div>
    <div class="col-sm-3"></div>
  </div>
  <div class="row">
    <div class="col-sm-3">Password</div>
    <div class="col-sm-3">
      <input type="text" class="form-control">
    </div>
    <div class="col-sm-3"></div>
    <div class="col-sm-3"></div>
  </div>
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-3">
        <button class="btn btn-primary" type="submit">sign in</button>
        <button class="btn btn-primary">cancel</button>
    </div>
    <div class="col-sm-3"></div>
    <div class="col-sm-3"></div>
  </div>
</div>