<div class="container">
  <div class="row title" style="border-top-left-radius:20px;border-top-right-radius:20px"></div>
  <div class="row">
    <img src="../../assets/images/homepage.jpg" alt="Banking app">
    <!-- <h1>Welcome to NATUM Banking services</h1> -->

  </div>
  <div class="row title" style="border-bottom-left-radius:20px;border-bottom-right-radius:20px">
    <h6>
      Designed and developed by Naga Vadlapudi & Sravan Tummala.
      <br>
      <br> @All copy rights reserved.</h6>
  </div>
</div>

<div class="">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-3"></div>
    <div class="col-sm-3" style="text-align: right">
      <h4>New user?
        <a [routerLink]="['/customers']">Register Here</a>
      </h4>
    </div>
    <div class="col-sm-3"></div>
  </div>
</div>